name: Build ruleset and geodata
on:
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *"
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
      - "**/*.ini"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "update_version=$(date -d '+8 hours' +%Y-%m-%d)" >> ${GITHUB_ENV}
          echo "singbox_core_release_version=$(curl -sSL https://api.github.com/repos/SagerNet/sing-box/releases/latest | jq -r '.tag_name' | sed -E -e 's/([0-9]+)$/0/' -e 's/^v//')" >> ${GITHUB_ENV}
          echo "singbox_core_latest_version=$(curl -sSL https://raw.githubusercontent.com/SagerNet/sing-box/docs/configuration/rule-set/source-format/index.html | awk '/<li>/ {last=$0} END {print last}' | sed -n 's/.*\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/p')" >> ${GITHUB_ENV}
          echo "singbox_core_compatible_version=$(curl -sSL https://raw.githubusercontent.com/SagerNet/sing-box/docs/configuration/rule-set/source-format/index.html | awk '/<li>/{lines[++count]=$0} END{print lines[count-1]}' | sed -n 's/.*\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/p')" >> ${GITHUB_ENV}
          echo "singbox_rules_latest_version=$(curl -sSL https://raw.githubusercontent.com/SagerNet/sing-box/docs/configuration/rule-set/source-format/index.html | awk '/<li>/ {last=$0} END {print last}' | sed -n 's/^<li>\([0-9]\+\).*/\1/p')" >> ${GITHUB_ENV}
          echo "singbox_rules_compatible_version=$(curl -sSL https://raw.githubusercontent.com/SagerNet/sing-box/docs/configuration/rule-set/source-format/index.html | awk '/<li>/{lines[++count]=$0} END{print lines[count-1]}' | sed -n 's/^<li>\([0-9]\+\).*/\1/p')" >> ${GITHUB_ENV}
          echo "domains_download_url=https://github.com/DustinWin/domain-list-custom/releases/download/domains" >> ${GITHUB_ENV}
          echo "ips_download_url=https://github.com/DustinWin/geoip/releases/download/ips" >> ${GITHUB_ENV}

      - name: Checkout
        uses: actions/checkout@v6

      # ---------------------------
      #     下载 rule_set 所需文件
      # ---------------------------
      - name: Download rule-set source files
        run: |
          domains=(private ads trackerslist microsoft-cn apple-cn google-cn games-cn netflix disney max primevideo appletv youtube tiktok bilibili spotify media games ai networktest tld-proxy gfw proxy cn cn-lite)
          ips=(netflixip mediaip gamesip privateip cnip telegramip)

          mkdir -p ./tools/rules/
          mkdir -p ./tmp/

          for domain in "${domains[@]}"; do
            mkdir -p "./tools/rules/${domain}/"
            curl -sSL "${domains_download_url}/${domain}.list" > "./tools/rules/${domain}/${domain}.list"
          done

          mkdir -p ./tools/rules/fakeip-filter/
          curl -sSL "${domains_download_url}/fakeip-filter.list" | awk '!/^DOMAIN-REGEX,/' > ./tmp/fakeip1
          cat <<EOF >> ./tmp/fakeip1
DOMAIN-KEYWORD,ntp
DOMAIN-KEYWORD,stun
DOMAIN-KEYWORD,time
EOF
          curl -sSL "${domains_download_url}/fakeip-filter.list" | awk '/^DOMAIN-REGEX,/ && !/ntp|stun|time/' >> ./tmp/fakeip1
          sort --ignore-case ./tmp/fakeip1 > ./tools/rules/fakeip-filter/fakeip-filter.list

          mkdir -p ./tools/rules/fakeip-filter-lite/
          curl -sSL "${domains_download_url}/fakeip-filter-lite.list" | awk '!/^DOMAIN-REGEX,/' > ./tmp/fakeip2
          cat <<EOF >> ./tmp/fakeip2
DOMAIN-KEYWORD,ntp
DOMAIN-KEYWORD,stun
DOMAIN-KEYWORD,time
EOF
          sort --ignore-case ./tmp/fakeip2 > ./tools/rules/fakeip-filter-lite/fakeip-filter-lite.list

          mkdir -p ./tools/rules/applications/
          curl -sSL "${domains_download_url}/applications.list" > "./tools/rules/applications/applications.list"

          for ip in "${ips[@]}"; do
            mkdir -p "./tools/rules/${ip}/"
            curl -sSL "${ips_download_url}/${ip}.list" > "./tools/rules/${ip}/${ip}.list"
          done

      # ---------------------------
      #       生成 sing-box srs
      # ---------------------------
      - name: Generate sing-box rule_set
        run: |
          if [[ "${{ env.singbox_core_latest_version }}" == "${{ env.singbox_core_release_version }}" ]]; then
            echo "singbox_core_old_version=${{ env.singbox_core_compatible_version }}" >> $GITHUB_ENV
            echo "singbox_core_new_version=${{ env.singbox_core_latest_version }}" >> $GITHUB_ENV
            echo "singbox_ruleset_old_version=${{ env.singbox_rules_compatible_version }}" >> $GITHUB_ENV
            echo "singbox_ruleset_new_version=${{ env.singbox_rules_latest_version }}" >> $GITHUB_ENV
            echo "singbox_equal=true" >> $GITHUB_ENV

            # compatible
            curl -L "https://github.com/SagerNet/sing-box/releases/download/v${{ env.singbox_core_compatible_version }}/sing-box-${{ env.singbox_core_compatible_version }}-linux-amd64.tar.gz" | tar -zx -C ./tools/
            mv -f "./tools/sing-box-${{ env.singbox_core_compatible_version }}-linux-amd64/sing-box" ./tools/sing-box
            mkdir -p ./sing-box-ruleset-compatible/
            cd ./tools/
            sed -i 's/"version": 1/"version": ${{ env.singbox_rules_compatible_version }}/' ./convert.sh
            chmod +x ./convert.sh && ./convert.sh
            mv -f ./*.json ./*.srs ../sing-box-ruleset-compatible/
            rm -rf ./sing-box*

            # new
            cd ../
            curl -L "https://github.com/DustinWin/proxy-tools/releases/download/sing-box/sing-box-release-linux-amd64.tar.gz" | tar -zx -C ./tools/
            mv -f "./tools/CrashCore" ./tools/sing-box
            mkdir -p ./sing-box-ruleset/
            cd ./tools/
            sed -i 's/"version": ${{ env.singbox_rules_compatible_version }}/"version": ${{ env.singbox_rules_latest_version }}/' ./convert.sh
            chmod +x ./convert.sh && ./convert.sh
            mv -f ./*.json ./*.srs ../sing-box-ruleset/
            rm -rf ./sing-box* ./rules*
          else
            echo "singbox_core_old_version=${{ env.singbox_core_compatible_version }}" >> $GITHUB_ENV
            echo "singbox_core_new_version=${{ env.singbox_core_latest_version }}" >> $GITHUB_ENV
            echo "singbox_ruleset_old_version=${{ env.singbox_rules_compatible_version }}" >> $GITHUB_ENV
            echo "singbox_ruleset_new_version=${{ env.singbox_rules_latest_version }}" >> $GITHUB_ENV
            echo "singbox_equal=false" >> $GITHUB_ENV

            # compatible
            wget "https://github.com/DustinWin/proxy-tools/releases/download/sing-box/sing-box-release-linux-amd64.tar.gz" -O - | tar -zxf - -C ./tools/
            mv -f "./tools/CrashCore" ./tools/sing-box
            mkdir -p ./sing-box-ruleset-compatible/
            cd ./tools/
            sed -i 's/"version": 1/"version": ${{ env.singbox_rules_compatible_version }}/' ./convert.sh
            chmod +x ./convert.sh && ./convert.sh
            mv -f ./*.json ./*.srs ../sing-box-ruleset-compatible/
            rm -rf ./sing-box*

            # new
            cd ../
            curl -L "https://github.com/DustinWin/proxy-tools/releases/download/sing-box/sing-box-dev-linux-amd64.tar.gz" | tar -zx -C ./tools/
            mv -f "./tools/CrashCore" ./tools/sing-box
            mkdir -p ./sing-box-ruleset/
            cd ./tools/
            sed -i 's/"version": ${{ env.singbox_rules_compatible_version }}/"version": ${{ env.singbox_rules_latest_version }}/' ./convert.sh
            chmod +x ./convert.sh && ./convert.sh
            mv -f ./*.json ./*.srs ../sing-box-ruleset/
            rm -rf ./sing-box* ./rules*
          fi

      # ---------------------------
      #      发布 & 上传 release
      # ---------------------------
      - name: Release and upload sing-box-ruleset-compatible
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: sing-box-ruleset-compatible
          tag: sing-box-ruleset-compatible
          overwrite: true
          body: |
            sing-box rule_set（兼容版）
            更新于 ${{ env.update_version }}
          file_glob: true
          file: ./sing-box-ruleset-compatible/*

      - name: Commit and push sing-box-ruleset-compatible
        run: |
          cd ./sing-box-ruleset-compatible/
          git init
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git checkout -b sing-box-ruleset-compatible
          git add . && git commit -m "更新于 ${update_version}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin sing-box-ruleset-compatible

      - name: Release and upload sing-box-ruleset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: sing-box-ruleset
          tag: sing-box-ruleset
          overwrite: true
          body: |
            sing-box rule_set（最新）
            更新于 ${{ env.update_version }}
          file_glob: true
          file: ./sing-box-ruleset/*

      - name: Commit and push sing-box-ruleset
        run: |
          cd ./sing-box-ruleset/
          git init
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git checkout -b sing-box-ruleset
          git add . && git commit -m "更新于 ${update_version}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin sing-box-ruleset

      # ---------------------------
      #     jsDelivr purge
      # ---------------------------
      - name: Purge jsDelivr CDN
        run: |
          cd ./sing-box-ruleset-compatible/
          for file in $(ls); do
            curl -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@sing-box-ruleset-compatible/${file}"
          done
          cd ../sing-box-ruleset/
          for file in $(ls); do
            curl -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@sing-box-ruleset/${file}"
          done

      # ---------------------------
      #   清理 workflow 运行记录
      # ---------------------------
      - name: Delete old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          retain_days: 3
          keep_minimum_runs: 1
